<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <link href="/styles/main.css" type="text/css" rel="stylesheet">
</head>
<header>
  <a href="/home"><img src="../images/logo2.png"></a>
  <div id="logout">
    <a href="/">Log out</a>
  </div>
  <nav>
    <table>
      <tr>
        <td><a href="/home">Home</a></td>
        <td><a href="/vendors">Vendors</a></td>
        <td><a href="/invite">Invitation Tracker</a></td>
        <td><a href="/seating">Seating</a> </td>
      </tr>
      <tr>
        <td><a href="/budget">Budget</a> </td>
        <td><a href="/attire">Attire</a> </td>
        <td><a href="/ideaFolder">Idea Folder</a> </td>
        <td><a href="/themes">Themes</a> </td>
      </tr>
      <tr>
        <td><a href="/checklist">Checklist</a> </td>
        <td><a href="/registry">Registry</a> </td>
        <td><a href="/color">Color Schemes</a> </td>
        <td><a href="/examples">Examples</a> </td>
      </tr>
      <tr>
        <td></td>
        <td><a href="/songs">Songs</a> </td>
        <td><a href="/editCountdown">Edit Countdown</a> </td>
        <td><a href="/faq">FAQ</a> </td>
      </tr>
    </table>
  </nav>
</header>
<body>
  <h1>Attire coming soon</h1>
</body>
<footer>
  <p id="congrats">Congratulations!</p>
  <p>Copyright &#169; 2016 Your Day Your Way&#8482; by <a href="https://30865de19d880682c894f6235a5a1ba7199f7435-www.googledrive.com/host/0B85v5S0Z9FqXcEE0TVhyN0Q5dnM/">Tracie Wamsley</a> All Rights Reserved Images from <a href="www.flickr.com">Flickr</a></p>
</footer>
</html>