<!DOCTYPE html>
<html>
<head>
  <link href="/styles/signing.css" rel="stylesheet" type="text/css">
</head>
<body id="log">
<section id="editCount">
  <p id="title">Welcome Back</p>
  <div id="ec">
    <input type="text" value="mm/dd/yyyy" > <br>
    <a id="go" href="/home">Update</a>
  </div>
</section>
</body>
</html>