<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <link href="/styles/landing.css" type="text/css" rel="stylesheet">
</head>
<header>
  <nav>
    <p id="login">Login</p>
    <hr>
    <p id="signup">Sign Up</p>
  </nav>
  <div id="logo">
    <img src="../images/logo.png">
  </div>
</header>
<body>
hello world
</body>
</html>