<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <link href="/styles/landing.css" type="text/css" rel="stylesheet">
</head>
<header>
  <nav>
    <ul>
      <li><a href="">Login</a></li>
      <li><hr></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
  <div id="logo">
    <img src="../images/logo.png">
  </div>
</header>
<body>
hello world
</body>
</html>