<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <link href="/styles/landing.css" type="text/css" rel="stylesheet">
</head>
<header>
  <nav>
    <ul>
      <li><a href="">Login</a></li>
      <li><hr></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
  <div id="logo">
    <img src="../images/logo.png">
  </div>
</header>
<body>
  <div id="signupFree">
    <button>Sign Up It's Free!</button>
  </div>
  <article id="inviteTracker">
    <p id="IT">Invitation Tracker</p>
    <div class="feature">
      <p class="title">Create your own invitations</p>
      <img src="../images/fakeCreateInvite.jpg">
      <p class="desc">Using our templates you can upload your own photos, click and drag objects, and write your own words.</p>
    </div>
    <div class="feature">
      <p class="title">Keep track of your guests</p>
      <img src="../images/fakeGuestList.png">
      <p class="desc">Always have a list of people you want to invite. You can input your guest's emails and or phone numbers to have an invitation sent to them via email and or text. By sending out invitations electronically the guest can answer right away if they will be coming or not. This way you will always know who to expect at your wedding. </p>
    </div>
  </article>
</body>
</html>