<!DOCTYPE html>
<html>
<head>
  <title>Your Day Your Way</title>
  <link href="/styles/landing.css" type="text/css" rel="stylesheet">
</head>
<header>
  <nav>
    <ul>
      <li><a href="">Login</a></li>
      <li><hr></li>
      <li><a href="">Sign Up</a></li>
    </ul>
  </nav>
  <div id="logo">
    <img src="../images/logo.png">
  </div>
</header>
<body>
  <div id="signupFree">
    <button>Sign Up It's Free!</button>
  </div>
  <p id="IT">Invitation Tracker</p>
  <article id="inviteTracker">
    <div class="feature">
      <p class="title">Create your own invitations</p>
      <img src="../images/fakeCreateInvite.jpg">
      <p class="desc">Using our templates you can upload your own photos, click and drag objects, and write your own words.</p>
    </div>
    <div class="feature">
      <p class="title">Keep track of your guest list</p>
      <img src="../images/fakeGuestList.png">
      <p class="desc">Always have a list of people you want to invite. Electronically send an invitation to them via email and or text. The guest can answer right away if they will be coming or not.</p>
    </div>
  </article>
  <section id="budTrack">
    <p id="b">Budget Tracking</p>
    <article id="budget">
      <div class="b_feature">
        <p class="b_title">Set an allowance</p>
        <img src="../images/allowanceMaybe.jpg">
      </div>
      <div class="b_feature">
        <p class="b_title">Track what you are spending</p>
        <img src="../images/fakeBudget.jpg">
      </div>
    </article>
  </section>
</body>
</html>