<!DOCTYPE html>
<html>
<head>
  <link href="/styles/signing.css" rel="stylesheet" type="text/css">
</head>
<body id="log">
<section id="login">
  <p id="title">Welcome Back</p>
  <div id="l">
    <input type="text" placeholder="Email"> <br>
    <input type="text" placeholder="Password"> <br>
    <a id="go" href="/home">Login</a>
    <p>Not a member? <a href="/signup">Sign Up</a></p>
  </div>
</section>
</body>
</html>