<!DOCTYPE html>
<html>
<head>
  <link href="/styles/signing.css" rel="stylesheet" type="text/css">
</head>
<body>
  <section>
    <p>Congratulations!</p>
    <input type="text" placeholder="Your Name(first and last)"> <br>
    <input type="text" placeholder="Your Fiancee's Name(first and last"> <br>
    <input type="text" placeholder="Email"> <br>
    <input type="text" placeholder="Password"> <br>
    <input type="text" placeholder="Confirm Password"> <br>
    <a href="/home">Sign Up</a>
  </section>
</body>
</html>